<a href="#" style="padding: 3px 8px 3px 8px;color: #ffffff;font-size: 13px;font-weight: bold;font-family: Helvetica, Arial, sans-serif;background-color: #5a635a;border-radius: 3px;" onclick="disqus();return false;">Show Comments</a>
<div id="disqus_thread">
   
</div>
<script type="text/javascript">
var disqus_shortname = "ygit";
var disqus_loaded = false;
function disqus() {
 
  if (!disqus_loaded)  {
    
    disqus_loaded = true;
    
    var e = document.createElement("script");
    e.type = "text/javascript";
    e.async = true;
    e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
    (document.getElementsByTagName("head")[0] ||
     document.getElementsByTagName("body")[0])
    .appendChild(e);
  }
} 
 
</script>

<script type="text/javascript">
  window.onscroll = function(e) {
    if ((window.innerHeight + window.scrollY) 
        >= document.body.offsetHeight) 
    {
        if (!disqus_loaded) disqus(); 
    }
};
</script>
