
<!--

<a href="https://www.facebook.com/plugins/like.php?href=http://yateendra.github.io{{ page.url }}" style="
    padding: 3px 8px 3px 8px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #3b5998;
    border-radius: 3px;
" target="_blank">Like</a>

<a href="http://www.facebook.com/sharer.php?u=http://yateendra.github.io{{ page.url }}" style="
    padding: 3px 8px 3px 8px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #3b5998;
    border-radius: 3px;
" target="_blank">Share</a>

//-->

<div style="margin: 2px 0 0px 0;height: 20px;vertical-align: middle;display: inline-block;">
<iframe src="https://www.facebook.com/plugins/like.php?href=http://yateendra.github.io{{ page.url }}&width=51&layout=button&action=like&size=small&show_faces=false&share=false&height=65&appId=239992719524816" width="51" height="65" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<iframe src="https://www.facebook.com/plugins/like.php?href=http://yateendra.github.io{{ page.url }}&width=140&layout=button&action=recommend&size=small&show_faces=false&share=true&height=65&appId=239992719524816" width="140" height="65" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>

 <a href="http://twitter.com/share?text={{ page.title }}&url=http://yateendra.github.io{{ page.url }}" style="
    padding: 3px 8px 3px 8px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #00aced;
    border-radius: 3px;
" target="_blank">tweet</a>

<a href="whatsapp://send?text={{ page.title }} http://yateender.com{{ page.url }}" style="
    padding: 3px 8px 3px 8px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #009688;
    border-radius: 3px;
">Whatsapp</a>

<a href="https://plus.google.com/share?url=http://yateender.com{{ page.url }}" style="
    padding: 3px 8px 3px 8px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #b1002c;
    border-radius: 3px;
" target="_blank">Google+</a>


