<style>

#menu {
    padding: 0.5em 0;
 }
ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    
 }
ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 12px; font-weight: bold; font-family: sans-serif; background-color: #3b5998; border-radius: 3px; color: #fff; padding: 3px 8px 3px 8px;
 }

</style>


<div id="menu">
 <ul>
<li><a href="https://www.facebook.com/plugins/like.php?href=http://yateendra.github.io{{page.url}}" style="background-color: #3b5998;" target="_blank">Like</a></li>
<li><a href="http://www.facebook.com/sharer.php?u=http://yateendra.github.io{{page.url}}" style="background-color: #3b5998;" target="_blank">Share</a></li>
<li><a href="http://twitter.com/share?text={{page.title}}&url=http://yateendra.github.io{{page.url}}" style="background-color: #00aced;" target="_blank">tweet</a></li>
<li><a href="whatsapp://send?text={{page.title}}http://yateendra.github.io{page.url}}" style="background-color: #009688;">Whatsapp</a></li>
<li><a href="mailto:?subject={{page.title}}&amp;body=Check out this site{{site.url}}{{site.baseurl}}{{page.url}}" style="background-color: #b1002c;" target="_blank">Mail</a></li>
 </ul>
</div>

</body>
</html>
