html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
}


// GRADIENT

@mixin gradient {
  background: #fc3a9d;
  background: -moz-linear-gradient(top,  #fc3a9d 0%, #7820ee 100%);
  background: -webkit-linear-gradient(top,  #fc3a9d 0%,#7820ee 100%);
  background: linear-gradient(to bottom,  #fc3a9d 0%,#7820ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc3a9d', endColorstr='#7820ee',GradientType=0 );
}


//VARIABLES
$white: #fff;
$black: #000;
$purple1: #c600db;
$purple2: #7319d3;
$back: #24294f;


body {
  background: $back;
}

// CONTAINER

.container {
  width: 280px;
  height: 500px;
  @include gradient;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
}

//HEADER

header {
  width: 100%;
  height: 80px;
  margin: 20px 0;
  padding-top: 10px;

  .menu-icon {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 20px;
    color: $white;
    font-size: 1.2em;
  }

  h1 {
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto';
    font-size: 1em;
    color: $white;
    margin: 10px 0 0 72px;
  }
}

// SONG

.song {
  width: 210px;
  height: 240px;
  margin: 0 auto;
  position: relative;

  .song1 {
    background: $white;
    width: 100%;
    height: 230px;
    border-radius: 10px;
    position: absolute;
    z-index: 10;

    .album-cover {
      width: 90px;
      height: 90px;
      border-radius: 90px;
      margin: -45px auto 0 auto;
      border: 4px solid $white;
      box-shadow: 0 8px 15px rgba(192,45,248,.18);

      img {
        width: 82px;
        height: 82px;
        border-radius: 82px;
      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      top: 0;
      z-index: -1;
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(255,255,255,0) 51%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,0) 51%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,0) 51%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );

    }

    .lyrics {
      font-family: 'Roboto';
      font-size: .85em;
      color: $black;
      text-align: center;
      font-weight: 700;
      position: absolute;
      z-index: -2;
      top: 50%;
      transform: translateY(-50%);
    }

    .bars {

      .left {
        width: 2px;
        height: 10px;
        background: $purple1;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        border-radius: 100%;
      }

      .right {
        width: 2px;
        height: 10px;
        background: $purple1;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        border-radius: 100%;
      }
    }
  }

  .song2 {
    background: $white;
    width: 90%;
    height: 230px;
    border-radius: 10px;
    position: absolute;
    z-index: 5;
    top: 5px;
    opacity: 0.8;
    left: 50%;
    transform: translateX(-50%);
  }

  .song3 {
    background: $white;
    width: 80%;
    height: 230px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 10px;
    opacity: 0.6;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  }
}

// BUTTON

.button {
  margin: 15px 0;
  text-align: center;

  a {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 30px;
    background: rgba(255,255,255,.15);
    color: $white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    font-size: .8em;
    margin: 0 10px;
  }
}

// PLAY BAR

.play-bar {
  width: 250px;
  margin: 0 auto;
  position: relative;

  .bar {
    width: 100%;
    height: 2px;
    background: $purple2;
    border-radius: 10px;
    position: relative;

    &::after {
      content: '';
      width: 50%;
      height: 2px;
      background: $white;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }

    &::before {
      content: '';
      width: 4px;
      height: 4px;
      background: $purple2;
      border: 3px solid $white;
      position: absolute;
      left: calc( 50% - 2px );
      border-radius: 5px;
      top: -3px;
      cursor: pointer;
    }
  }

  .current-time {
    display: inline-block;
    width: 50%;
    text-align: left;
    color: $white;
    font-size: .5em;
    font-family: 'Roboto';
  }

  .total-time {
    display: inline-block;
    width: 50%;
    text-align: right;
    color: $white;
    font-size: .5em;
    font-family: 'Roboto';
    margin-left: -4px;
  }
}

// PLAY BUTTON

.play-button {
  text-align: center;
  margin: 20px 0 0 0;
  height: 40px;
  line-height: 40px;

  a {
    color: $white;
    margin: 0 20px;
    font-size: 1.4em;

    &.play {
      font-size: 1.8em;
    }
  }
}
