---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}
  {% seo %}
  

  <body class="theme-base-07">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
            </h3>
          
          <a id="a" href="http://paypal.me/Yateendra" style="background-color: #00aced;overflow: hidden;border: none;float: right;margin-top: -25px;width: 89px;display: block;text-decoration: none;text-align: center;font-size: 12px;font-weight: bold;font-family: sans-serif;border-radius: 3px;color: #fff;padding: 3px 8px 3px 8px;">Donate</a>
          
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    
    {% include foot.html %}
    
  </body>
</html>
